:root{
  --dark: #13293d;
  --light: #fff;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: #ccd2eb;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
}

header h1 {
  font-size:40px;
  color: var(--light);
}

header nav ul li{
  display: inline-block;
  margin: 2px;
}

header nav ul li a{
  color: var(--light);
}

.hero-image {
  background-image: url("https://i.gifer.com/4pur.gif");
  background-color: var(--dark);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

section {
  padding:5px;
  display: flex;
  margin-top: 10px;
}

section h2{

  width: 32%;
  border-right: 4px solid var(--dark);
  padding-right: 10%;
  font-size: 25px;
}
section p{
  width: 49%;
  margin-left: 10px;
}

.card-list{
  flex: 1 0 200px;
  display:flex;
  align-content: stretch;
  flex-wrap: wrap;
  margin-left: 10px;
}

section div a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  flex: 1 0 50%;
  height: 150px;
  border: 2px solid var(--dark);
  border-radius: 3px;
  background-image: url(https://images.pexels.com/photos/8580327/pexels-photo-8580327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.5;
  transition: 1s ease;
}

section div a:hover {
  opacity:1;
  transition: 1s ease;
}

section div a div{
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 50px;
  border: 1px solid var(--dark);
  background-color: var(--dark);
}

section div a div h3{
  width: 100%;
  font-size: 20px;
  color:var(--light);
  text-orientation: upright;
}

section div a div p{
  width: 100%;
  font-size: 15px;
  background-color: var(--dark);
  color: var(--light);
}

#code-refactor {
  flex: 2 0 100%;
  height:300px;
  background-image: url(../../Assets/images/Screenshot1.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

section ul{
  width:65%;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

footer{
  text-align: center;
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 992px) {
  
}